.DS_Store

# nvim
modules/nvim/.config/nvim/plugged

# antigen
modules/zsh/.zsh/antigen.zsh.zwc

# yarn
node_modules
yarn.lock
yarn-error.log
modules/yarn/.config/yarn/global/node_modules

# Karabiner
apps/karabiner/automatic_backups

# ssh
modules/ssh/.ssh/*
!modules/ssh/.ssh/config

# Brewfile
Brewfile.lock.json

# Alfred
apps/Alfred/Alfred.alfredpreferences/preferences/local
