[submodule ".vscode"]
	path = .vscode
	url = git@github.com:nozomiishii/.vscode.git
[submodule "/Users/nozomiishii/dotfiles/configs/tmux/.tmux/plugins/tpm"]
	path = /Users/nozomiishii/dotfiles/configs/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
