# System Files
.DS_Store

# Apps
# Alfred
**/Alfred/Alfred.alfredpreferences/preferences/local
# Karabiner
**/karabiner/automatic_backups

# Configs
# nvim
**/nvim/plugged
# antigen
**/antigen.zsh.zwc
# yarn
node_modules
yarn-error.log
**/.config/yarn/global/node_modules
# ssh
**/.ssh/*
!**/.ssh/config

# Brewfile.lock.json
*.lock.json
