[submodule ".vscode"]
path = .vscode
url = git@github.com:nozomiishii/.vscode.git

[submodule "configs/tmux/.tmux/plugins/tpm"]
path = configs/tmux/.tmux/plugins/tpm
url = git@github.com:tmux-plugins/tpm.git
