.DS_Store

# nvim
modules/nvim/.config/nvim/plugged

# antigen
modules/zsh/.zsh/antigen.zsh.zwc

# yarn
node_modules
yarn.lock
yarn-error.log
modules/yarn/.config/yarn/global/node_modules

# Karabiner
apps/karabiner/automatic_backups

# ssh
**/.ssh/*
!**/.ssh/config

# Brewfile
Brewfile.*
!Brewfile.base.rb

# Alfred
apps/Alfred/Alfred.alfredpreferences/preferences/local

# nvim
configs/nvim/.config/nvim/plugged
