<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>02B37EF1-C1A9-48E5-B7AF-0D6FEB5C015F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stoplight prism</string>
			<key>text</key>
			<string>Open stoplightio/prism</string>
			<key>url</key>
			<string>https://stoplight.io/open-source/prism/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>042978AE-72BE-4F57-9627-084C7BFC150C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>heroku</string>
			<key>text</key>
			<string>Open Heroku</string>
			<key>url</key>
			<string>https://dashboard.heroku.com/apps</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>088F35D7-5210-4052-BC4E-E86C2AF09941</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>prisma doc</string>
			<key>text</key>
			<string>Open Prisma documantation</string>
			<key>url</key>
			<string>https://www.prisma.io/docs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>09DEBBC0-5425-4E42-9FCD-98DF7BFF4011</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bitbank</string>
			<key>text</key>
			<string>Open bitbank</string>
			<key>url</key>
			<string>https://app.bitbank.cc/account/message</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0AAFD4D1-5F1C-4126-A38E-B4CEB0DD6F0B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pandas</string>
			<key>text</key>
			<string>Open pandas</string>
			<key>url</key>
			<string>https://pandas.pydata.org/docs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0AB204CB-D0CC-45FE-928D-7176C9FBE982</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gamedev</string>
			<key>text</key>
			<string>Open GameDev.tv Community</string>
			<key>url</key>
			<string>https://community.gamedev.tv/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0B738265-C7CB-4366-A220-48075254B6A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lewagon</string>
			<key>text</key>
			<string>Open Le Wagon</string>
			<key>url</key>
			<string>https://kitt.lewagon.com/camps/165/lectures</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0BD9199E-F429-4830-9E90-D231988BF79D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rakuten</string>
			<key>text</key>
			<string>Open Rakuten</string>
			<key>url</key>
			<string>https://www.rakuten.co.jp/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0C1B5E0A-318B-4920-B718-397B828656D5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>firebase</string>
			<key>text</key>
			<string>Open Firebase - VoiceUtopia</string>
			<key>url</key>
			<string>https://console.firebase.google.com/u/2/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0C606527-21DB-496A-AA13-19C7ABBAF43A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lab</string>
			<key>text</key>
			<string>Open GitLab</string>
			<key>url</key>
			<string>https://gitlab.com/nozomiishii</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0C93C6E2-D30E-494C-A89F-82A3329BE4A0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sbi</string>
			<key>text</key>
			<string>Open SBI securities</string>
			<key>url</key>
			<string>https://site3.sbisec.co.jp</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0D9F6F83-7A20-4C19-834C-42FC1E6F89C6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>threejs journey</string>
			<key>text</key>
			<string>Open Threejs Journey</string>
			<key>url</key>
			<string>https://threejs-journey.xyz/lessons</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2182F1D7-BA33-4DDA-B5EA-553BF24C67B3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>font</string>
			<key>text</key>
			<string>Open Google Fonts</string>
			<key>url</key>
			<string>https://fonts.google.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>222F3026-03B3-4C1B-AFA3-044D5EE3B224</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sandbox</string>
			<key>text</key>
			<string>Open The Sandbox</string>
			<key>url</key>
			<string>https://www.sandbox.game/jp/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>23EFA166-611F-4DC4-868B-7B5C68C61565</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docker docs</string>
			<key>text</key>
			<string>Open Docker Documantation</string>
			<key>url</key>
			<string>https://docs.docker.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2499CF4F-3306-45BF-ABCD-A2F08D637FD7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>date fns</string>
			<key>text</key>
			<string>Open date-fns</string>
			<key>url</key>
			<string>https://date-fns.org/docs/Getting-Started</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>26AC8DE7-C625-4ACD-A842-CDB776A4A1DE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>circle ci</string>
			<key>text</key>
			<string>Open Circle CI</string>
			<key>url</key>
			<string>https://app.circleci.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>27665C6D-43E6-4776-A445-B365610CB46E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>msw</string>
			<key>text</key>
			<string>Open Mock Service Worker</string>
			<key>url</key>
			<string>https://mswjs.io/docs/getting-started/install</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2969AD5B-5EEC-4A4E-BF94-4AF074FA1B9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gmocoin</string>
			<key>text</key>
			<string>Open GMO Coin</string>
			<key>url</key>
			<string>https://coin.z.com/jp/member/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2990A56A-A20E-4E29-B140-191689FCAEC3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ngrok</string>
			<key>text</key>
			<string>Open ngrok</string>
			<key>url</key>
			<string>https://dashboard.ngrok.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2A7E8C2F-54EC-457B-9D93-DADBBB806517</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>classvalidator</string>
			<key>text</key>
			<string>Open class-validator</string>
			<key>url</key>
			<string>https://github.com/typestack/class-validator</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2B815ACB-D075-43DA-9A61-4FDA7D7D181C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>freee</string>
			<key>text</key>
			<string>Open freee</string>
			<key>url</key>
			<string>https://secure.freee.co.jp/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>323CF4C4-D9B9-4D01-892D-1CC05CF7A5AF</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>luxon</string>
			<key>text</key>
			<string>Open Luxon</string>
			<key>url</key>
			<string>https://moment.github.io/luxon/#/?id=luxon-2x</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3A2432C2-A75E-4E81-8AAB-BD2FC1817F35</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>asdf</string>
			<key>text</key>
			<string>Open asdf</string>
			<key>url</key>
			<string>https://asdf-vm.com/guide/getting-started.html#_1-install-dependencies</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3E6AC62F-1E13-4B2C-B0CC-A8E0F0992EBF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghdocs</string>
			<key>text</key>
			<string>Open Github Documentation</string>
			<key>url</key>
			<string>https://docs.github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3FC60018-E30E-47FF-8633-21D95CDC75D9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stackoverflow</string>
			<key>text</key>
			<string>Open Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3FF39D26-17AC-4383-8FF1-6999AC493BDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>reactnative</string>
			<key>text</key>
			<string>Open React Native Documentation</string>
			<key>url</key>
			<string>https://reactnative.dev/docs/getting-started</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>40A1157E-C1C2-48BD-8722-C4D30C8EA8FD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>react hook form</string>
			<key>text</key>
			<string>Open React Hook Form</string>
			<key>url</key>
			<string>https://react-hook-form.com/advanced-usage</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>43E48FE0-EE22-4DFC-AE53-BB051A8E9333</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qiita</string>
			<key>text</key>
			<string>Open qiita</string>
			<key>url</key>
			<string>https://qiita.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>46643227-A157-4E69-B44B-41584A512870</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search github.com/nozomiishii/'{query}'</string>
			<key>url</key>
			<string>https://github.com/nozomiishii/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>47A89F0E-0B41-4196-91B8-0B33A065B7E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stripe doc</string>
			<key>text</key>
			<string>Open Stripe Documentation</string>
			<key>url</key>
			<string>https://stripe.com/docs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4EB04DFB-C6DA-4E2C-B1F1-DA37A4453F3A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>iherb</string>
			<key>text</key>
			<string>Open iHerb</string>
			<key>url</key>
			<string>https://jp.iherb.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>50053F83-C7B6-4B53-AC83-2EBE63C46DAD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>egghead</string>
			<key>text</key>
			<string>Open egghead.io</string>
			<key>url</key>
			<string>https://egghead.io/bookmarks</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>502F06A4-25D5-49F4-9823-015521309CFD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gc</string>
			<key>text</key>
			<string>Open Google Cloud - VoiceUtopia {query}</string>
			<key>url</key>
			<string>https://console.cloud.google.com/home/dashboard?authuser=5&amp;project=voice-utopia-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5064E15C-19E5-4A0A-A470-CA3FB9CBDFF7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>swagger editor</string>
			<key>text</key>
			<string>Open Swagger Editor</string>
			<key>url</key>
			<string>https://editor.swagger.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>525638BE-D215-4A9D-90FD-8FED9A748658</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sbi</string>
			<key>text</key>
			<string>Open Sumishin SBI net bank</string>
			<key>url</key>
			<string>https://www.netbk.co.jp/contents/pages/wpl010002/i010002CT/DI01000200?CallerScreen=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>53929F1C-AE64-433C-AB06-2DA04AC870D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>agora console</string>
			<key>text</key>
			<string>Open Agora Console</string>
			<key>url</key>
			<string>https://console.agora.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57B4A389-3030-45A2-90DE-1FF4DAF7FA71</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>notionapi</string>
			<key>text</key>
			<string>Open Notion API</string>
			<key>url</key>
			<string>https://developers.notion.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>58300BC2-4998-4D8D-8D40-81988DCEB988</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>minikube</string>
			<key>text</key>
			<string>Open minikube Documentation</string>
			<key>url</key>
			<string>https://minikube.sigs.k8s.io/docs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5845A97E-6DD7-47A5-BDCD-1B9AAB9DFA39</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>recipe</string>
			<key>text</key>
			<string>Open microsoft/vscode-recipes</string>
			<key>url</key>
			<string>https://github.com/microsoft/vscode-recipes</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>58E0CFB8-50EA-4478-B5C6-30C073D6658B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>express</string>
			<key>text</key>
			<string>Open Express Documentation</string>
			<key>url</key>
			<string>https://expressjs.com/en/starter/installing.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5AC536FB-84FA-4627-A759-F52C029EFEDC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nextauth</string>
			<key>text</key>
			<string>Open NextAuth.js</string>
			<key>url</key>
			<string>https://next-auth.js.org/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5ED27893-CDB4-43E6-9F0B-B0C735ADF637</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zenn</string>
			<key>text</key>
			<string>Open zenn</string>
			<key>url</key>
			<string>https://zenn.dev/search</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6092ED08-6665-4206-A965-59815733808D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>noz</string>
			<key>text</key>
			<string>Open nozomiishii.dev</string>
			<key>url</key>
			<string>https://nozomiishii.dev/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>61933760-A822-462F-A557-06DFEDE26AC3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sentrydoc</string>
			<key>text</key>
			<string>Open Sentry Documentation</string>
			<key>url</key>
			<string>https://docs.sentry.io/platforms/javascript/guides/nextjs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>63CF81D1-4D8C-41B6-A42D-89F58C55D723</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ja</string>
			<key>text</key>
			<string>Translate '{query}' into Japanese
8/5000

Ai o nihongo ni hon'yaku
8/5000
Translate '{query}' into Japanese
8/5000
Translate '{query}' into Japanese</string>
			<key>url</key>
			<string>https://translate.google.com/#view=home&amp;op=translate&amp;sl=en&amp;tl=ja&amp;text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>63F352A9-D21C-4FA0-AEFF-9634FCC3CE3E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dh</string>
			<key>text</key>
			<string>Open Docker hub</string>
			<key>url</key>
			<string>https://hub.docker.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>644006E1-E1FE-4057-A5B4-829CF952D4EC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>typeorm</string>
			<key>text</key>
			<string>Open TypeORM</string>
			<key>url</key>
			<string>https://typeorm.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>64AFBB95-285D-440E-8894-7DECD80B2558</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chart</string>
			<key>text</key>
			<string>Open Lucidchart</string>
			<key>url</key>
			<string>https://lucid.app</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6566262F-EA2E-4C88-8489-6B5B567708E2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cloudsign</string>
			<key>text</key>
			<string>Open Cloudsign</string>
			<key>url</key>
			<string>https://www.cloudsign.jp/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>66E7883D-6876-4F4D-A5A1-C39B836EF6EF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lh</string>
			<key>text</key>
			<string>Open localhost:3000</string>
			<key>url</key>
			<string>http://localhost:3000/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>67A42AE0-C5FE-4592-88A9-C053FE058E3B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ude</string>
			<key>text</key>
			<string>Open udemy</string>
			<key>url</key>
			<string>https://www.udemy.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>67A8C31F-642B-44A3-A0EA-3CC4B55C5C67</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>apdev</string>
			<key>text</key>
			<string>Open Apple Developer Documentation</string>
			<key>url</key>
			<string>https://developer.apple.com/documentation</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>68ADBA0B-9C72-4BE8-B67C-C5EC6D33C3E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>algolia</string>
			<key>text</key>
			<string>Open Algolia</string>
			<key>url</key>
			<string>https://www.algolia.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6C36AD93-3FC7-449F-9777-B3FE5FEB3B73</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>query</string>
			<key>text</key>
			<string>Open React Query</string>
			<key>url</key>
			<string>https://react-query-v2.tanstack.com/docs/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6DDCD47B-802D-455B-B0DB-D5556E3035E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>agora doc</string>
			<key>text</key>
			<string>Open Agora Documentation</string>
			<key>url</key>
			<string>https://docs.agora.io</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6F64A0BF-7EA0-4609-9551-BA338DA418CE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coinmarketcap</string>
			<key>text</key>
			<string>Open CoinMarketCap</string>
			<key>url</key>
			<string>https://coinmarketcap.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6F8DFBD1-C9AD-4944-9765-77220DF5768E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsap</string>
			<key>text</key>
			<string>Open GreenSock</string>
			<key>url</key>
			<string>https://greensock.com/profile/105427-nozomi-ishii/content/?do=dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70EDBF2E-5BC7-415E-AAF4-B813F3EED623</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dribbble</string>
			<key>text</key>
			<string>Open Dribbble</string>
			<key>url</key>
			<string>https://dribbble.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70F4A299-A12A-4FB0-B9E5-3A00446E0FBE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>socket</string>
			<key>text</key>
			<string>Open Socket.io</string>
			<key>url</key>
			<string>https://socket.io/docs/v4/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>729E540D-B266-40E3-B5D9-F4869D9AAA5D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>three</string>
			<key>text</key>
			<string>Open Three.js documentation</string>
			<key>url</key>
			<string>https://threejs.org/docs/index.html#manual/en/introduction/Creating-a-scene</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>73E8941D-173B-481C-8A92-FBF2029FA0E6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>react typescript cheatsheets</string>
			<key>text</key>
			<string>Open React Typescript Cheatsheets</string>
			<key>url</key>
			<string>https://react-typescript-cheatsheet.netlify.app/docs/basic/setup/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>74481E8A-0431-4D20-B3EF-4A03F568B726</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lh</string>
			<key>text</key>
			<string>Open localhost:{query}</string>
			<key>url</key>
			<string>http://localhost:{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7491CAC0-9425-40EF-ADEC-4F9C7EF0315E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>teachable</string>
			<key>text</key>
			<string>Open teach:able</string>
			<key>url</key>
			<string>https://sso.teachable.com/secure/teachable_accounts/profile</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>75D05A09-8C40-4503-BF9D-4CAB6EC0979C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yaml</string>
			<key>text</key>
			<string>Open quickref.me - YAML cheatsheet</string>
			<key>url</key>
			<string>https://quickref.me/yaml</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7614ABE5-AF4E-4C1E-979F-4BEE4DC5E3F6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>flutter</string>
			<key>text</key>
			<string>Open Flutter Documentation</string>
			<key>url</key>
			<string>https://flutter.dev/docs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>795BE58B-D4F9-4D7F-A631-BB9601BFCE1F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>apollo</string>
			<key>text</key>
			<string>Open Apollo</string>
			<key>url</key>
			<string>https://www.apollographql.com/docs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7BB1A7D9-0E6C-4031-BC54-71A9ED67F72A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tail</string>
			<key>text</key>
			<string>Open tailwindcss</string>
			<key>url</key>
			<string>https://tailwindcss.com/docs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>80D6831C-5039-4603-BAF0-4E1C92D0F3A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>openapi generator</string>
			<key>text</key>
			<string>Open OpenAPI Generator</string>
			<key>url</key>
			<string>https://openapi-generator.tech/docs/installation</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8426BB8E-1DD1-438C-97EB-C1699D8D0420</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>en</string>
			<key>text</key>
			<string>Translate '{query}' into English</string>
			<key>url</key>
			<string>https://translate.google.com/#view=home&amp;op=translate&amp;sl=ja&amp;tl=en&amp;text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>84572F30-137D-4897-A130-20E848CD7DFE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>api</string>
			<key>text</key>
			<string>Open Google API design guide</string>
			<key>url</key>
			<string>https://cloud.google.com/apis/design/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>85E4EBA1-1D67-410F-A30F-D7E2663901EB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sentry</string>
			<key>text</key>
			<string>Open Sentry - VoiceUtopia</string>
			<key>url</key>
			<string>https://sentry.io/organizations/voiceutopiainc/issues/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>86029BBE-1A2D-4140-A010-68FE426EADF2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bitflyer</string>
			<key>text</key>
			<string>Open bitFlyer</string>
			<key>url</key>
			<string>https://bitflyer.com/ja-jp/ex/Home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>86920152-7A1E-45C1-9520-0B60356979B3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghcli</string>
			<key>text</key>
			<string>Open Github CLI</string>
			<key>url</key>
			<string>https://cli.github.com/manual/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>86AB93BD-5435-4201-89B1-74667238FAEB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>testing library</string>
			<key>text</key>
			<string>Open Testing Library</string>
			<key>url</key>
			<string>https://testing-library.com/docs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8AC1A216-E2A0-41DC-B508-B56A8460256B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>storybook</string>
			<key>text</key>
			<string>Open Storybook Documentation</string>
			<key>url</key>
			<string>https://storybook.js.org/docs/react/get-started/introduction</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8E3A9447-1228-4E53-968F-177187F5A01A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nx</string>
			<key>text</key>
			<string>Open Nx</string>
			<key>url</key>
			<string>https://nx.dev/l/n/getting-started/intro</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>92866109-99DF-43A3-AD7B-C03EB6E70A6D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>graphql</string>
			<key>text</key>
			<string>Open GraphQL</string>
			<key>url</key>
			<string>https://graphql.org/learn/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>964E430A-A8C4-4D8D-8FD0-FC43402FE30A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nextjs</string>
			<key>text</key>
			<string>Open Next.js</string>
			<key>url</key>
			<string>https://nextjs.org/docs/getting-started</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9667F807-1DC8-4322-BC8F-13960A44F1D5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>snip</string>
			<key>text</key>
			<string>Open snippet generator</string>
			<key>url</key>
			<string>https://snippet-generator.app</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9A16A8E6-24D1-4722-A6DB-FE92CD8F797D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aws management console</string>
			<key>text</key>
			<string>Open AWS Management Console</string>
			<key>url</key>
			<string>https://console.aws.amazon.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9FBC5BD6-BF24-4538-93FB-FABC48A16F19</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>raydium</string>
			<key>text</key>
			<string>Open Raydium</string>
			<key>url</key>
			<string>https://raydium.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A23197DD-6838-43B7-B4A0-9DDC558F862E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>openapitypescriptcodegen</string>
			<key>text</key>
			<string>Open openapi-typescript-codegen</string>
			<key>url</key>
			<string>https://github.com/ferdikoomen/openapi-typescript-codegen</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A3DE72B5-C7A9-4D1B-B222-82A762A3722F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsap</string>
			<key>text</key>
			<string>Open GreenSock - VoiceUtopia</string>
			<key>url</key>
			<string>https://greensock.com/profile/105378-voiceutopia/content/?do=dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A4992869-0218-4BF3-9BE7-71DB7B1C068E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>type</string>
			<key>text</key>
			<string>Open quicktype</string>
			<key>url</key>
			<string>https://app.quicktype.io/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A6309CC0-76C6-42C2-BB98-7CD6C0B754DD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>openapi</string>
			<key>text</key>
			<string>Open OpenAPI Specification</string>
			<key>url</key>
			<string>https://github.com/OAI/OpenAPI-Specification</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A6BB2E67-69F5-4CC6-9EC5-2C0D777D94F7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pusher console</string>
			<key>text</key>
			<string>Open Pusher - VoiceUtopia</string>
			<key>url</key>
			<string>https://dashboard.pusher.com/apps/1270189/stats</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A6CDD3BD-351F-45AF-B747-6BDD2A7F55A0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>supabase</string>
			<key>text</key>
			<string>Open Supabase</string>
			<key>url</key>
			<string>https://supabase.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A7A3547F-2239-4360-8E98-D3D5CE01CC62</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kuber</string>
			<key>text</key>
			<string>Open kubernetes Documentation</string>
			<key>url</key>
			<string>https://kubernetes.io/search/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AE6C5DAF-3F45-4D95-9967-8117C712A875</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gc</string>
			<key>text</key>
			<string>Open Google Cloud
Google Cloud Console
Google Cloud Console</string>
			<key>url</key>
			<string>https://console.cloud.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AEBF6DD3-5B45-492C-8FF2-10B8F2482186</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stripe api</string>
			<key>text</key>
			<string>Open Stripe API</string>
			<key>url</key>
			<string>https://stripe.com/docs/api</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B44AF932-D16C-401A-91C9-06B9620C3A66</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>terraform</string>
			<key>text</key>
			<string>Terraform Documentation</string>
			<key>url</key>
			<string>https://learn.hashicorp.com/terraform?utm_source=terraform_io&amp;utm_content=terraform_io_hero</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B5F7722E-62EF-40E1-A36D-56DFB73BC376</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>supertest</string>
			<key>text</key>
			<string>Open Supertest</string>
			<key>url</key>
			<string>https://www.npmjs.com/package/supertest</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B89768FC-B973-4D0A-A6BF-212220271656</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lapa</string>
			<key>text</key>
			<string>Open lapa.ninja</string>
			<key>url</key>
			<string>https://www.lapa.ninja/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BA8D1706-4AA8-4F23-82D6-E3E9BF468E65</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vercel</string>
			<key>text</key>
			<string>Open Vercel</string>
			<key>url</key>
			<string>https://vercel.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BAB3570C-2AC1-4785-A57D-C77EA82AF4D1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pancakeswap</string>
			<key>text</key>
			<string>Open PancakeSwap</string>
			<key>url</key>
			<string>https://pancakeswap.finance/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BCCD1B5E-71CB-4845-8010-7C3139DDA403</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rakutensec</string>
			<key>text</key>
			<string>Open Rakuten Securities</string>
			<key>url</key>
			<string>https://www.rakuten-sec.co.jp/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C30A9BD9-B9AF-4F19-91A8-6059F0330BB5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>react</string>
			<key>text</key>
			<string>Open React Documentation</string>
			<key>url</key>
			<string>https://reactjs.org/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C38C7DF9-3321-4EEB-AD46-99D1DE4EC1BD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>firebasedoc</string>
			<key>text</key>
			<string>Open Firebase Documentation</string>
			<key>url</key>
			<string>https://firebase.google.com/docs/guides</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C6575E51-2FE1-4A09-B018-E59BEAA9D06C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sbivctrade</string>
			<key>text</key>
			<string>Open SBI VC Trade</string>
			<key>url</key>
			<string>https://sbivc.jp/#/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C708CB69-4AFF-419F-BD18-EF1064D38EF3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Open GitHub</string>
			<key>url</key>
			<string>https://github.com/nozomiishii</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C87746E3-67C9-4E74-9695-8AC7A75EE7A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>feedly</string>
			<key>text</key>
			<string>Open feedly</string>
			<key>url</key>
			<string>https://feedly.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CB537AC3-AD58-484D-B5C6-86A97D719C5A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>openapidocs</string>
			<key>text</key>
			<string>OpenAPI Specification Documentation</string>
			<key>url</key>
			<string>https://swagger.io/specification/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CE717735-6899-4120-A244-7AF8C83320DB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>travis</string>
			<key>text</key>
			<string>Open Travis CI</string>
			<key>url</key>
			<string>https://app.travis-ci.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CECA0AB2-4FCA-44FA-931C-258BC45D0CD8</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Open Jira</string>
			<key>url</key>
			<string>https://bit-key.atlassian.net/jira/your-work</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CECA37BB-366A-49A7-9258-9FF973DFBDBA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jest</string>
			<key>text</key>
			<string>Open Jest Documentation</string>
			<key>url</key>
			<string>https://jestjs.io/docs/getting-started</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D584698B-432C-4B32-A4FF-32EF067EBE60</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>seo</string>
			<key>text</key>
			<string>Open Google SEO Documentation</string>
			<key>url</key>
			<string>https://developers.google.com/search/docs</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D97C17AF-30FB-46C9-96ED-E0067AD7204F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kws</string>
			<key>text</key>
			<string>Open AWS CloudTech</string>
			<key>url</key>
			<string>https://kws-cloud-tech.com/lessons/%e3%81%94%e6%a1%88%e5%86%85_aws-cloudtech</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCD26C38-60D6-4CF6-951F-5363FB58FDF5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vercel</string>
			<key>text</key>
			<string>Open Vercel - VoiceUtopia</string>
			<key>url</key>
			<string>https://vercel.com/voiceutopia/voice-utopia</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DE067D16-D343-47DE-814C-1096B694092E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>you</string>
			<key>text</key>
			<string>Open YouTube</string>
			<key>url</key>
			<string>https://www.youtube.com/?gl=GB</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E1017354-DC89-4E49-ADA5-52917236D97F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tailwind ui</string>
			<key>text</key>
			<string>Open Tailwind UI</string>
			<key>url</key>
			<string>https://tailwindui.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E238AC2F-93EA-4496-899A-319E51C0EC9C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>landbook</string>
			<key>text</key>
			<string>Opan Land-book</string>
			<key>url</key>
			<string>https://land-book.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E763BCE9-06B3-42A3-BCDE-1DD47E27ACF7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hoot</string>
			<key>text</key>
			<string>Open hootsuite</string>
			<key>url</key>
			<string>https://hootsuite.com/dashboard#/planner</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E809F45E-BC75-4ABA-84BF-0ABAA50EE4E5</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>lh</string>
			<key>text</key>
			<string>Open localhost:{query}</string>
			<key>url</key>
			<string>http://localhost:{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EB8BE61A-17AB-4F26-BE95-BE10C456BBFD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nestjsdocs</string>
			<key>text</key>
			<string>Open NestJS Documentation</string>
			<key>url</key>
			<string>https://docs.nestjs.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBD6DFC9-DC3B-4E33-AE31-65520DE4F570</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pinterest</string>
			<key>text</key>
			<string>Open Pinterest</string>
			<key>url</key>
			<string>https://www.pinterest.co.uk/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F1085C8F-FC6F-46C9-9AB2-840DB827AB6D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dotfiles</string>
			<key>text</key>
			<string>Open Dotfiles in Github</string>
			<key>url</key>
			<string>https://github.com/nozomiishii/dotfiles</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F1E8F02F-5D3F-4A7B-B463-45A61288C25D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stripe dashboard</string>
			<key>text</key>
			<string>Open Stripe Dashboard</string>
			<key>url</key>
			<string>https://dashboard.stripe.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F473535E-56A3-4C41-BD50-662511AF8439</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cypress</string>
			<key>text</key>
			<string>Open Cypress</string>
			<key>url</key>
			<string>https://docs.cypress.io/examples/examples/recipes#Fundamentals</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F52303A1-5ACF-441B-AC81-E3042903F3FA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>webflow</string>
			<key>text</key>
			<string>Open Webflow</string>
			<key>url</key>
			<string>https://webflow.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F596E5EB-7DB0-49FA-B8F9-D14DFE0018EA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pusher docs</string>
			<key>text</key>
			<string>Open Pusher Documentation</string>
			<key>url</key>
			<string>https://pusher.com/docs/channels/getting_started/javascript/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F5D63A5A-9960-4117-8D30-5AA1A0500E42</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>punch</string>
			<key>text</key>
			<string>Punch In / Out</string>
			<key>url</key>
			<string>https://attendance.moneyforward.com/my_page</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F6BBF078-D103-45BC-9BB4-A7929F831E0E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>binance</string>
			<key>text</key>
			<string>Open Binance</string>
			<key>url</key>
			<string>https://www.binance.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F6F12DE0-07A8-478D-9020-D6AB47B1549B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>firebase</string>
			<key>text</key>
			<string>Open Firebase</string>
			<key>url</key>
			<string>https://console.firebase.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F70E7AD3-2269-4FCC-962A-A778CA0B9EA9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>faker</string>
			<key>text</key>
			<string>Open Faker.js</string>
			<key>url</key>
			<string>https://github.com/marak/Faker.js/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FB4470DA-D9D9-44CE-8809-E4C6C641F0F7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gc</string>
			<key>text</key>
			<string>Open Google Cloud - VoiceUtopia</string>
			<key>url</key>
			<string>https://console.cloud.google.com/home/dashboard?authuser=5&amp;project=voice-utopia-prod</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FE58A59C-8DB6-4F95-85E1-DA3112251FA4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>json</string>
			<key>text</key>
			<string>Open JSON Generator</string>
			<key>url</key>
			<string>https://app.json-generator.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF0E405B-5020-41B9-A7AD-AD66852469B9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hasura</string>
			<key>text</key>
			<string>Open Harura</string>
			<key>url</key>
			<string>https://hasura.io</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
