[user]
name = Nozomi Ishii
email = nozomiishii.jp@gmail.com
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDF31h4ogJY+JRiI+k0+aLoO/OTnEI1FCmyvA1LWXOqB

[core]
# dev container内にnvim入れて初回起動遅くなるの懸念
# editor = nvim
ignorecase = false

[init]
defaultBranch = main

[submodule]
recurse = true

[pull]
rebase = true
autostash = true

[rebase]
autoStash = true

[rerere]
enabled = true

[gpg]
format = ssh

[gpg "ssh"]
program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
gpgsign = true

[merge]
conflictStyle = zdiff3
