// 次のコマンドで現状のレイアウトを保存
// zellij action dump-layout > ~/dotfiles/home/.config/zellij/layouts/custom.kdl
//
// レイアウトを適応してcodeセッション起動
// zellij --new-session-with-layout code --session code
layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}



