// Use a simplified UI without special fonts (arrow glyphs)
simplified_ui true

// Choose the theme that is specified in the themes section.
// https://zellij.dev/documentation/theme-list.html
theme "ao"

// Whether to show tips on startup
show_startup_tips false
