[user]
	name = Nozomi Ishii
	# If you want to set up locally
	# git config user.email "you@example.com"
	# git config --list
	email = nozomiishii.jp@gmail.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	editor = nvim
	ignorecase = false
