<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jp.nozomiishii.OpenZsh</string>
	<key>connections</key>
	<dict>
		<key>809A474E-E446-473F-ACB5-0CBCC27A0D23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE9FBE19-1AB6-464E-A810-12E084752A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nozomi ishii</string>
	<key>description</key>
	<string>Open zshrc</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>zshrc</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>~/.zshrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>EE9FBE19-1AB6-464E-A810-12E084752A39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zsh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open .zshrc in VScode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>809A474E-E446-473F-ACB5-0CBCC27A0D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>809A474E-E446-473F-ACB5-0CBCC27A0D23</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>EE9FBE19-1AB6-464E-A810-12E084752A39</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
