name: Markdown lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**/*.md'
  pull_request:
    paths:
      - '**/*.md'

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup-node

      - name: lint
        run: npx -y markdownlint-cli2 "**/*.md"
